####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
contrib/osx/CalinsQRReader/*
contrib/osx/libsecp256k1.0.dylib
Actilectrum.egg-info/
actilectrum/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea

# icons
actilectrum/gui/qt/icons_rc.py
actilectrum/gui/kivy/theming/light-0.png
actilectrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache
