####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
contrib/osx/CalinsQRReader/*
contrib/osx/libsecp256k1.0.dylib
Actilectrum.egg-info/
actilectrum/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea
.mypy_cache
.vscode

# icons
actilectrum/gui/kivy/theming/light-0.png
actilectrum/gui/kivy/theming/light-1.png
actilectrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/fresh_clone/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/android_debug.keystore

# shared objects
actilectrum/*.so
actilectrum/*.so.0
actilectrum/*.dll
actilectrum/*.dylib

.history
contrib/build-wine/contrib