[submodule "contrib/deterministic-build/actilectrum-locale"]
	path = contrib/deterministic-build/actilectrum-locale
	url = https://github.com/Actinium-project/actilectrum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
