[submodule "contrib/deterministic-build/actilectrum-icons"]
	path = contrib/deterministic-build/actilectrum-icons
	url = https://github.com/pooler/actilectrum-icons
[submodule "contrib/deterministic-build/actilectrum-locale"]
	path = contrib/deterministic-build/actilectrum-locale
	url = https://github.com/pooler/actilectrum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
